
<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
                  <form #addprodform=ngForm (ngSubmit)="addItem(addprodform.value)">
                    <h4 class="mt-1 mb-5 pb-1">Add New Item / Cusine</h4>
                    <div class="form-outline mb-4">
                      <label class="form-label">Item Name</label>
                      <input type="text" class="form-control" placeholder="Item name"  ngModel name="item" #item=ngModel />
                    </div>
                    <div class="form-outline mb-4">
                      <label class="form-label">Price</label>
                      <input type="number" class="form-control" placeholder="price of item" ngModel name="price" #price=ngModel />
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label">Image Path</label>
                        <input type="text" class="form-control" placeholder="price of item"  ngModel name="image" #image=ngModel />
                      </div>
                    <div class="text-center pt-1 mb-5 pb-1">
                      <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" [disabled]="addprodform.invalid" >
                        Add to List
                        </button>
                    </div>
                   
                  </form>
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4"><i>New Cusine / Item</i></h4>
                  <p class="large mb-0">New Craving For Food Lovers...
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>